.btn2 {
  position: relative;
  display: inline-block;
  padding: 0.5rem 20px;
  border: 2px solid var(--black_color);
  text-transform: capitalize;
  color: var(--black_color);
  text-decoration: none;
  font-weight: var(--normal_fw);
  font-size: var(--nav_fs);
  transition: 0.3s;
  background-color: transparent;
  cursor: pointer;
  border-radius: 500px;
}

.btn2::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% + 2px);
  background-color: transparent;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: var(--bg_color);
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2:hover::before {
  transform: translateY(-25px);
  height: 0;
}

.btn2:hover::after {
  transform: scaleX(0);
  transition-delay: 0.15s;
}

.btn2:hover {
  border: 2px solid var(--black_color);
  background-color: var(--black_color);
  color: var(--bg_color);
}

.btn2 .spn2 {
  position: relative;
  z-index: 3;
  text-decoration: none;
  border: none;
  background-color: transparent;
}
