.home_intro_section {
  position: relative;
  overflow: hidden; /* Ensure shapes don't spill out */
}

.home_intro_container {
  position: relative;
  z-index: 1; /* Ensure content is above shapes */
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  flex-direction: column;
  gap: 2rem;
}

.home_intro_header {
  margin-bottom: 1rem;
}

.home_intro_contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home_intro_title {
  font-size: var(--sub_section_title_fs);
  font-weight: var(--bold_fw);
  color: var(--black_color);
}

.home_intro_title span {
  margin-left: 100px;
}

.home_intro_content_details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-top: 3rem;
}

.home_intro_content_details_left,
.home_intro_content_details_right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid var(--light_grey_color);
  border-bottom: 1px solid var(--light_grey_color);
  padding: 2rem 0;
}

.home_intro_content_details_left h3,
.home_intro_content_details_right h3 {
  font-size: var(--sub_section_title_fs);
  font-weight: var(--medium_fw);
  color: var(--black_color);
}

.home_intro_content_details_left p,
.home_intro_content_details_right p {
  font-size: var(--text_fs);
  color: var(--text_color);
  font-weight: var(--normal_fw);
  line-height: 1.6;
}

@media screen and (max-width: 1000px) {
  .home_intro_content_details {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .home_intro_container {
    grid-template-columns: 1fr;
  }

  .home_intro_content_details {
    gap: 2rem;
  }

  .home_intro_content_details_left {
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 3rem;
  }
  .home_intro_content_details_right {
    padding-top: 3rem;
  }
}
