@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Questrial&display=swap");

:root {
  --bg_color: #000;
  --sec_color: #fa4719;
  --white_color: #fff;
  --peach_color: #faeada;
  --grey_color: #999999;

  /* FONTS */
  --didact_gothic: "Didact Gothic", sans-serif;

  --hero_fs: 4.5rem;
  --section_fs: 3rem;
  --sub_section_fs: 2.25rem;
  --pre_title_fs: 1.125rem;
  --button_fs: 1rem;
  --text_fs: 1rem;
  --link_fs: 0.9375rem;

  --fw_regular: 400;
  --fw_medium: 500;
  --fw_bold: 600;
  --fw_thick: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--didact_gothic);
  background-color: var(--bg_color);
  color: var(--white_color);
  overflow-x: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

.container {
  max-width: 94%;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
}

.below_navbar {
  padding: 9rem 0;
}

.section {
  padding: 10rem 0 10rem 0;
}

.section_title{
  font-size: var(--section_fs);
  font-weight:var(--fw_bold) ;
  letter-spacing: 0.5px;
  color: var(--peach_color);
  text-transform: uppercase;
}

.sub_section_title{
  font-size: var(--pre_title_fs);
  font-weight:var(--fw_normal) ;
  letter-spacing: 0.4px;
  color: var(--grey_color);
  text-transform: uppercase;
}
